---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import { yearsInIndustry } from "../js/yearsInIndustry";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
	<div class="hidden lg:block absolute top-0 right-0 h-10 w-120 mt-6">
		<div class="dropdown">
			<div tabindex="0" role="button" class="btn m-1">
				Theme
				<select class="select select-bordered select-sm" data-choose-theme>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="light"
						>Light</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="dark"
						>Dark</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="cupcake"
						>Cupcake</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="bumblebee"
						>Bumblebee</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="emerald"
						>Emerald</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="corporate"
						>Corporate</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="synthwave"
						>Synthwave</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="retro"
						>Retro</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="cyberpunk"
						>Cyberpunk</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="valentine"
						>Valentine</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="halloween"
						>Halloween</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="garden"
						>Garden</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="forest"
						>Forest</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="aqua"
						>Aqua</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="lofi"
						>Lofi</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="pastel"
						>Pastel</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="fantasy"
						>Fantasy</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="wireframe"
						>Wireframe</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="black"
						>Black</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="luxury"
						>Luxury</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="dracula"
						>Dracula</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="cmyk"
						>CMYK</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="autumn"
						>Autumn</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="business"
						>Business</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="acid"
						>Acid</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="lemonade"
						>Lemonade</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="night"
						>Night</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="coffee"
						>Coffee</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="winter"
						>Winter</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="dim"
						>Dim</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="nord"
						>Nord</option
					>
					<option class="btn btn-sm btn-block btn-ghost justify-start" value="sunset"
						>Sunset</option
					>
				</select>
			</div>
		</div>
	</div>
	<div class="pb-12 mt-5">
		<div class="text-xl py-1">Greetings Earthlings 🧙🏿‍♂️</div>
		<div class="text-5xl font-bold">I'm Oyewunmi Oluwaseyi</div>
		<div class="text-3xl py-3 font-bold">Software Engineer and Conjurer of digital dreams</div>
		<div class="py-2">
			<text class="text-lg">
				I'm a software sorcerer, skilled in the esoteric disciplines of backend engineering,
				DevOps, and machine learning. I have {yearsInIndustry} years of unshakable attention
				to the field, and I use the power of coding to summon creative solutions.
			</text>
		</div>
		<div class="flex flex-wrap mt-8">
			<a
				class="btn ml-5"
				href="https://www.linkedin.com/in/oluwaseyi-oyewunmi-b486ab17b/"
				target="_blank">
				Let's connect !</a
			>
			<a href="/projects" target="" class="btn ml-5"> View Projects 💼</a>
			<a href="/cv" target="" class="btn ml-5"> Resume Peek 📑</a>
		</div>
	</div>

	<div>
		<div>
			<div id="activityTitle" class="text-3xl w-full font-bold mb-2">
				Coding Activity {"👨🏾‍💻"}
			</div>
		</div>
		<div class="flex">
			<div class="flex space-x-2">
				<button id="prevActivity" class="text-blue-500 hidden"
					><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						><path
							d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"
						></path></svg
					></button
				>
			</div>
			<figure id="activity1" class="visible">
				<a href="https://wakatime.com"><img src="https://wakatime.com/share/@oluwseyi/503325e6-be92-4bab-a002-26c359d6e36c.png" /></a>
			</figure>

			<figure id="activity2" class="w-[700px] relative rounded-md drop-shadow-lg hidden">
				<div id="embed-iframe"></div>
				<!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3NeDFOlOOmHaEtRxrBs344?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
			</figure>
			
			<figure id="activity3" class="hidden last-activity">
				<iframe
					src="https://leetcard.jacoblin.cool/thoth2357?width=500&theme=light&font=Roboto&ext=heatmap"
				></iframe>
			</figure>
			
			<div class="flex space-x-2">
				<button id="nextActivity" class="text-blue-500"
					><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						><path
							d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"
						></path></svg
					></button
				>
			</div>
		</div>
	</div>

<div class="divider my-0"></div>

<div>
	<div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog ✏️</div>
</div>

{
	last_posts.map((post) => (
		<>
			<HorizontalCard
				title={post.data.title}
				img={post.data.heroImage}
				desc={post.data.description}
				url={"/blog/" + post.slug}
				target="_self"
				badge={post.data.badge}
			/>
			<div class="divider my-0" />
		</>
	))
}
</BaseLayout>

<script src="https://open.spotify.com/embed/iframe-api/v1" async></script>

<script>
	window.onSpotifyIframeApiReady = (IFrameAPI) => {
		const element = document.getElementById("embed-iframe");
		const options = {
			width: "100%",
			height: "152",
			uri: "spotify:episode:2zNTcLRNZec9DrzUlaOaKz",
		};
		const callback = (EmbedController) => {};
		IFrameAPI.createController(element, options, callback);
	};
	document.addEventListener("DOMContentLoaded", function () {
		const prevButton = document.getElementById("prevActivity");
		const nextButton = document.getElementById("nextActivity");
		const activityTitle = document.getElementById("activityTitle");
		const activity1 = document.getElementById("activity1");
		const activity2 = document.getElementById("activity2");
		const activity3 = document.getElementById("activity3");

		nextButton.addEventListener("click", function () {
			if (activity1.classList.contains("visible")) {
				activity1.classList.remove("visible");
				activity1.classList.add("hidden");

				activity2.classList.remove("hidden");
				activity2.classList.add("visible");

				prevButton.classList.remove("hidden");

				// Check if the last activity is visible, hide the next button
				if (activity2.classList.contains("last-activity")) {
					nextButton.classList.add("hidden");
				}

				// Update Today's Activity based on the currently visible figure
				activityTitle.textContent = "Music Activity 🎧";
			} else if (activity2.classList.contains("visible")) {
				activity2.classList.remove("visible");
				activity2.classList.add("hidden");

				activity3.classList.remove("hidden");
				activity3.classList.add("visible");

				// Check if the last activity is visible, hide the next button
				if (activity3.classList.contains("last-activity")) {
					nextButton.classList.add("hidden");
				}

				// Update Today's Activity based on the currently visible figure
				activityTitle.textContent = "LeetCode Activity 🧠";
			}
		});

		prevButton.addEventListener("click", function () {
			if (activity2.classList.contains("visible")) {
				activity2.classList.remove("visible");
				activity2.classList.add("hidden");

				activity1.classList.remove("hidden");
				activity1.classList.add("visible");

				prevButton.classList.add("hidden");
				nextButton.classList.remove("hidden");

				// Update Today's Activity based on the currently visible figure
				activityTitle.textContent = "Coding Activity 👨🏾‍💻";
			} else if (activity3.classList.contains("visible")) {
				activity3.classList.remove("visible");
				activity3.classList.add("hidden");

				activity2.classList.remove("hidden");
				activity2.classList.add("visible");

				// Check if the last activity is visible, hide the next button
				if (activity2.classList.contains("last-activity")) {
					nextButton.classList.add("hidden");
				}

				// Update Today's Activity based on the currently visible figure
				activityTitle.textContent = "Music Activity 🎧";
			}
		});
	});
</script>
